$hover-color: #009D45
$bgColor: #004A20
$firstStat: #1D987F
$secondStat: #FFBA00
$thirdStat: #21AEFE
$fontColor: #656764
$borderColor: #C8C8C8
$graphAverage: #30AD23
$navbarliColor: #8AD8C5

body
	background-color: #009D45
	// padding: 0
	// margin: 0

//header

header.navbar
	background-color: $bgColor
	padding: 10px 10px 0 6px

	.navbar-header > .navbar-brand
		padding: 0

	.navbar-header > button	> span
		background-color: white

	
	ul.navbar-nav
		margin: 4px 0 0 40px
		li 
			text-align: center
			color: $navbarliColor 
			padding: 0 0 12px 8px
			position: relative
			line-height: 50px
			font-family: candara
			letter-spacing: 1px
			font-size: 15px

			&:hover
				font-weight: bold 
				cursor: pointer

			// &:active
			// 	color: $bgColor

			a
				color: $navbarliColor
				position: relative
				font-family: candara
				letter-spacing: 1px

				&:hover
					background-color: $bgColor
					font-weight: bold 
					color: white

				&:active
					color: black

			.dropdown > .btnColor
				background-color: $bgColor
				font-family: candara
				letter-spacing: 1px
				font-size: 14px

				&:hover
					font-weight: bold
					color: white

			.dropdown > button:active
				background-color: $bgColor	

			.dropdown-menu
				background-color: $hover-color

				a:hover
					background-color: $hover-color
			
	.user
		float: right
		color: white
		font-family: candara

		span
			margin-left: 10px
		

	@media (max-width: 1045px)
		.user
			display: none

	@media (max-width: 831px)
		img
			width: 80px

	@media (max-width: 787px)
		img
			width: 60px

	@media (max-width: 767px)
		img
			width: 120px

//topContainer

section#topContainer
	margin-top: 150px

	.colSize
		height: 150px
		padding-bottom: 20px

	.stats
		height: 130px
		width: 320px
		background-color: white
		margin: 0 auto

		.topDiv
			height: 45px

			.topLeftDiv
				float: left
				font-size: 14px
				color: $fontColor
				width: 200px
				padding: 15px 0 0 14px

			.topRightDiv 
				float: right
				width: 120px
				padding: 15px 0 0 14px

				.date
					height: 20px
					width: 80px
					font-size: 10px
					padding: 3px 0 0 8px
					border-radius: 2px
					color: white

				.firstStatDate
					background-color: $firstStat

				.secondStatDate
					background-color: $secondStat


		.midDiv
			text-align: center
			font-size: 34px

		.moneyOne
			color: $firstStat

		.moneySecond
			color: $secondStat

		.bottomDiv
			height: 40px
			padding: 10px 10px 0 0

			.bottomRightDiv
				float: right
				font-size: 10px
				color: $fontColor

				span.firstRate
					color: $firstStat

				span.secondRate
					color: $secondStat

		.firstStat
			border-top: 3px solid $firstStat

		.secondStat
			border-top: 3px solid $secondStat

		.topThirdDiv
			height: 45px
			border-top: 3px solid $thirdStat
			border-bottom: 1px solid #CFDEEA

			.topLeftThirdDiv
				float: left
				font-size: 14px
				color: $fontColor
				width: 130px
				padding: 12px 0 0 8px

				i
					color: $thirdStat
					font-weight: bold

					&:hover
						cursor: pointer

			.topRightThirdDiv
				float: right
				width: 190px
				padding: 11px 0 0 3px

				.model
					height: 20px
					width: 100px
					font-size: 9px
					padding: 3px 1px 0 4px
					border-radius: 2px
					color: white
					display: inline-block
					background-color: $thirdStat

				.thirdDate
					height: 20px
					width: 50px
					font-size: 9px
					padding: 3px 1px 0 4px
					border-radius: 2px
					color: white
					display: inline-block
					background-color: $thirdStat
					
		.midThirdDiv
			text-align: center
			font-size: 34px

		.moneyThird
			color: $thirdStat

		.bottomThirdDiv
			height: 40px

			.bottomLeftThirdDiv
				width: 50%
				float: left
				font-size: 10px
				padding: 10px 0 0 10px

				i
					color: $thirdStat
					font-size: 13px

			.bottomRightThirdDiv
				width: 50%
				float: right
				font-size: 10px
				padding: 10px 0 0 45px

				span
					color: $thirdStat


//midContainer

section#midContainer
	margin-top: 50px
	canvas#lineChart
		background-color: white

// bottomContainer

section#bottomContainer
	margin-top: 50px
	padding-bottom: 50px
	.financeJourney
		width: 100%
		height: 760px
		background-color: white
		border-top: 3px solid $borderColor
		margin-bottom: 40px

		.topPart
			width: 100%
			height: 50px
			border-bottom: 1px solid $borderColor

			.topLeftPart
				width: 70%
				height: 100%
				float: left
				color: $fontColor
				padding: 16px 0 0 10px

			.topRightPart
				float: right
				padding: 16px 10px 0 0
				color: $fontColor

				i:hover
					cursor: pointer

		.bottomPartDivs
			width: 100%
			height: 230px

			.bottomLeftPart
				width: 22%
				height: 100%
				float: left
				text-align: center
				padding-top: 80px
				font-size: 11px
				color: $fontColor
				border-right: 1px solid $borderColor

				span
					color: $graphAverage
					font-weight: bold

			.bottomMidPart
				height: 100%
				width: 56%
				float: left
				border-bottom: 1px solid $borderColor

				.bottomMidTopPart
					height: 30%
					width: 100%

					.bottomMidTopLeftPart
						height: 100%
						float: left
						width: 50%
						text-align: center
						padding-top: 22px

						p
							color: $graphAverage
							font-size: 13px
							font-weight: bold

					.bottomMidTopRightPart
						height: 100%
						width: 50%
						float: right
						padding: 22px 0 0 15px


						.smDiv
							height: 14px
							width: 60px
							background-color: $graphAverage
							border-radius: 3px
							padding-top: 1px
							font-size: 9px
							color: white
							text-align: center
							display: inline-block

							&:hover
								cursor: pointer

				.bottomMidCenterPart
					height: 70%
					
					nav > ul 
						list-style: none

					nav > ul > li
					font-size: 14px
					color: $fontColor
					font-family: calibri
					font-weight: bold	

					nav > ul > li >	span
						color: $graphAverage	

			.bottomRightPart
				width: 22%
				height: 100%
				float: left
				
	.performance
		width: 100%
		height: 315px
		background-color: white
		margin-top: 40px
		border-top: 3px solid $borderColor

		.performanceTopDiv
			width: 100%
			height: 50px
			border-bottom: 1px solid $borderColor

			.performanceTopDivLeft
				width: 70%
				height: 100%
				float: left
				color: $fontColor
				padding: 16px 0 0 10px

			.performanceTopDivRight
				float: right
				padding: 16px 10px 0 0
				color: $fontColor

				i:hover
					cursor: pointer

		.performanceMidDiv
			height: 40%
			width: 100%
			background-color: #90EE90
			padding-top: 30px

			p#firstPar
				text-align: center
				// line-height: 120px
				font-size: 22px
				font-family: calibri

				span
					margin-left: 40px
					color: $bgColor

			p#secondPar
				text-align: center
				// line-height: 120px
				font-size: 10px
				font-family: calibri

				i
					font-size: 7px

		.performanceBottomDiv
			height: 45%
			width: 100%
			// background-color: pink

			.performanceBottomDivLeft
				height: 100%
				width: 70%
				// background-color: yellow
				text-align: center
				padding-top: 50px
				float: left
				line-height: 7px
				font-family: calibri

				a
					font-size: 10px
					color: $bgColor

			.performanceBottomDivRight
				height: 100%
				width: 30%
				float: right
				// background-color: blue
				text-align: center
				padding-top: 30px

				i
					font-size: 60px
					color: $bgColor






	.assumptions
		@extend .performance

		.assumptionsTopDiv
			width: 100%
			height: 50px
			border-bottom: 1px solid $borderColor

			.assumptionsTopDivLeft
				width: 70%
				height: 100%
				float: left
				color: $fontColor
				padding: 16px 0 0 10px

			.assumptionsTopDivRight
				float: right
				padding: 16px 10px 0 0
				color: $fontColor

				i:hover
					cursor: pointer

		.assumptionsBottomDiv
			width: 100%
			height: 260px
			// background-color: pink
			// text-align: center
			padding: 60px 100px 0 0
			p
				font:
					size: 15px
					weight: bold
					family: calibri
				text-align: right
				margin-left: 50px

				span
					margin: 0 10px 0 10px
					border-bottom: 1px solid $borderColor
					// text-decoration: underline
					color: $bgColor

				i
					color: $borderColor
					cursor: pointer

//footer
footer
	margin: 0
	height: 180px
	width: 100%
	background-color: #007031
	
	nav 
		ul.About
			float: left
			line-height: 28px
			list-style: none
			padding-top: 20px

			li.head
				font-weight: bold
				font-size: 18px
				color: $bgColor

			li, a
				color: white

				&:hover
					text-decoration: none

		ul.socialIcons
			float: right
			padding: 125px 20px 0 0

			> li
				display: inline-block
				font-size: 20px
				margin-right: 10px

				> a
					color: #433F40

					&:hover, &:active
						text-decoration: none
						color: #222222

.smallFooter
	width: 100%
	height: 68px
	background-color: $bgColor
	p
		font-size: 15px
		color: white
		font-family: calibri
		display: inline

	p.copyright
		float: left
		padding: 4px 0 0 4px

	p.madeBy
		float: right
		padding: 4px 4px 0 0



					



	
