body {
  background-color: #407121;
}

header.navbar {
  background-color: #005e00;
  padding: 10px 10px 0 6px;
}
header.navbar .navbar-header > .navbar-brand {
  padding: 0;
}
header.navbar .navbar-header > button > span {
  background-color: white;
}
header.navbar ul.navbar-nav {
  margin: 4px 0 0 40px;
}
header.navbar ul.navbar-nav li {
  text-align: center;
  color: white;
  padding: 0 0 12px 8px;
  position: relative;
  line-height: 50px;
  font-family: candara;
  letter-spacing: 1px;
}
header.navbar ul.navbar-nav li:hover {
  font-weight: bold;
  cursor: pointer;
}
header.navbar ul.navbar-nav li .dropdown > .btnColor {
  background-color: #005e00;
  font-family: candara;
  letter-spacing: 1px;
  font-size: 14px;
}
header.navbar ul.navbar-nav li .dropdown > .btnColor:hover {
  font-weight: bold;
  color: white;
}
header.navbar ul.navbar-nav li .dropdown-menu {
  background-color: #438023;
}
header.navbar ul.navbar-nav li .dropdown-menu a:hover {
  background-color: #438023;
}
header.navbar ul.navbar-nav li a {
  color: white;
  position: relative;
  font-family: candara;
  letter-spacing: 1px;
}
header.navbar ul.navbar-nav li a:hover {
  background-color: #005e00;
  font-weight: bold;
}
header.navbar .user {
  float: right;
  color: white;
  font-family: candara;
}
header.navbar .user span {
  margin-left: 10px;
}
@media (max-width: 1045px) {
  header.navbar .user {
    display: none;
  }
}
@media (max-width: 831px) {
  header.navbar img {
    width: 80px;
  }
}
@media (max-width: 787px) {
  header.navbar img {
    width: 60px;
  }
}
@media (max-width: 767px) {
  header.navbar img {
    width: 120px;
  }
}

section#topContainer {
  margin-top: 150px;
}
section#topContainer .colSize {
  height: 150px;
  padding-bottom: 20px;
}
section#topContainer .stats {
  height: 130px;
  width: 320px;
  background-color: white;
  margin: 0 auto;
}
section#topContainer .stats .topDiv {
  height: 45px;
}
section#topContainer .stats .topDiv .topLeftDiv {
  float: left;
  font-size: 14px;
  color: #656764;
  width: 200px;
  padding: 15px 0 0 14px;
}
section#topContainer .stats .topDiv .topRightDiv {
  float: right;
  width: 120px;
  padding: 15px 0 0 14px;
}
section#topContainer .stats .topDiv .topRightDiv .date {
  height: 20px;
  width: 80px;
  font-size: 10px;
  padding: 3px 0 0 8px;
  border-radius: 2px;
  color: white;
}
section#topContainer .stats .topDiv .topRightDiv .firstStatDate {
  background-color: #1D987F;
}
section#topContainer .stats .topDiv .topRightDiv .secondStatDate {
  background-color: #FFBA00;
}
section#topContainer .stats .midDiv {
  text-align: center;
  font-size: 34px;
}
section#topContainer .stats .moneyOne {
  color: #1D987F;
}
section#topContainer .stats .moneySecond {
  color: #FFBA00;
}
section#topContainer .stats .bottomDiv {
  height: 40px;
  padding: 10px 10px 0 0;
}
section#topContainer .stats .bottomDiv .bottomRightDiv {
  float: right;
  font-size: 10px;
  color: #656764;
}
section#topContainer .stats .bottomDiv .bottomRightDiv span.firstRate {
  color: #1D987F;
}
section#topContainer .stats .bottomDiv .bottomRightDiv span.secondRate {
  color: #FFBA00;
}
section#topContainer .stats .firstStat {
  border-top: 3px solid #1D987F;
}
section#topContainer .stats .secondStat {
  border-top: 3px solid #FFBA00;
}
section#topContainer .stats .topThirdDiv {
  height: 45px;
  border-top: 3px solid #21AEFE;
  border-bottom: 1px solid #CFDEEA;
}
section#topContainer .stats .topThirdDiv .topLeftThirdDiv {
  float: left;
  font-size: 14px;
  color: #656764;
  width: 130px;
  padding: 12px 0 0 8px;
}
section#topContainer .stats .topThirdDiv .topLeftThirdDiv i {
  color: #21AEFE;
  font-weight: bold;
}
section#topContainer .stats .topThirdDiv .topLeftThirdDiv i:hover {
  cursor: pointer;
}
section#topContainer .stats .topThirdDiv .topRightThirdDiv {
  float: right;
  width: 190px;
  padding: 11px 0 0 3px;
}
section#topContainer .stats .topThirdDiv .topRightThirdDiv .model {
  height: 20px;
  width: 100px;
  font-size: 9px;
  padding: 3px 1px 0 4px;
  border-radius: 2px;
  color: white;
  display: inline-block;
  background-color: #21AEFE;
}
section#topContainer .stats .topThirdDiv .topRightThirdDiv .thirdDate {
  height: 20px;
  width: 50px;
  font-size: 9px;
  padding: 3px 1px 0 4px;
  border-radius: 2px;
  color: white;
  display: inline-block;
  background-color: #21AEFE;
}
section#topContainer .stats .midThirdDiv {
  text-align: center;
  font-size: 34px;
}
section#topContainer .stats .moneyThird {
  color: #21AEFE;
}
section#topContainer .stats .bottomThirdDiv {
  height: 40px;
}
section#topContainer .stats .bottomThirdDiv .bottomLeftThirdDiv {
  width: 50%;
  float: left;
  font-size: 10px;
  padding: 10px 0 0 10px;
}
section#topContainer .stats .bottomThirdDiv .bottomLeftThirdDiv i {
  color: #21AEFE;
  font-size: 13px;
}
section#topContainer .stats .bottomThirdDiv .bottomRightThirdDiv {
  width: 50%;
  float: right;
  font-size: 10px;
  padding: 10px 0 0 45px;
}
section#topContainer .stats .bottomThirdDiv .bottomRightThirdDiv span {
  color: #21AEFE;
}

section#midContainer {
  margin-top: 50px;
}
section#midContainer canvas#lineChart {
  background-color: white;
}

section#bottomContainer {
  margin-top: 50px;
  padding-bottom: 50px;
}
section#bottomContainer .financeJourney {
  width: 100%;
  height: 760px;
  background-color: white;
  border-top: 3px solid #C8C8C8;
  margin-bottom: 40px;
}
section#bottomContainer .financeJourney .topPart {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #C8C8C8;
}
section#bottomContainer .financeJourney .topPart .topLeftPart {
  width: 70%;
  height: 100%;
  float: left;
  color: #656764;
  padding: 16px 0 0 10px;
}
section#bottomContainer .financeJourney .topPart .topRightPart {
  float: right;
  padding: 16px 10px 0 0;
  color: #656764;
}
section#bottomContainer .financeJourney .topPart .topRightPart i:hover {
  cursor: pointer;
}
section#bottomContainer .financeJourney .bottomPartDivs {
  width: 100%;
  height: 230px;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomLeftPart {
  width: 22%;
  height: 100%;
  float: left;
  text-align: center;
  padding-top: 80px;
  font-size: 11px;
  color: #656764;
  border-right: 1px solid #C8C8C8;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomLeftPart span {
  color: #30AD23;
  font-weight: bold;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomMidPart {
  height: 100%;
  width: 56%;
  float: left;
  border-bottom: 1px solid #C8C8C8;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomMidPart .bottomMidTopPart {
  height: 30%;
  width: 100%;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomMidPart .bottomMidTopPart .bottomMidTopLeftPart {
  height: 100%;
  float: left;
  width: 50%;
  text-align: center;
  padding-top: 22px;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomMidPart .bottomMidTopPart .bottomMidTopLeftPart p {
  color: #30AD23;
  font-size: 13px;
  font-weight: bold;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomMidPart .bottomMidTopPart .bottomMidTopRightPart {
  height: 100%;
  width: 50%;
  float: right;
  padding: 22px 0 0 15px;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomMidPart .bottomMidTopPart .bottomMidTopRightPart .smDiv {
  height: 14px;
  width: 60px;
  background-color: #30AD23;
  border-radius: 3px;
  padding-top: 1px;
  font-size: 9px;
  color: white;
  text-align: center;
  display: inline-block;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomMidPart .bottomMidTopPart .bottomMidTopRightPart .smDiv:hover {
  cursor: pointer;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomMidPart .bottomMidCenterPart {
  height: 70%;
  font-size: 14px;
  color: #656764;
  font-family: calibri;
  font-weight: bold;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomMidPart .bottomMidCenterPart nav > ul {
  list-style: none;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomMidPart .bottomMidCenterPart nav > ul > li > span {
  color: #30AD23;
}
section#bottomContainer .financeJourney .bottomPartDivs .bottomRightPart {
  width: 22%;
  height: 100%;
  float: left;
}
section#bottomContainer .performance, section#bottomContainer .assumptions {
  width: 100%;
  height: 315px;
  background-color: white;
  margin-top: 40px;
  border-top: 3px solid #C8C8C8;
}
section#bottomContainer .performance .performanceTopDiv, section#bottomContainer .assumptions .performanceTopDiv {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #C8C8C8;
}
section#bottomContainer .performance .performanceTopDiv .performanceTopDivLeft, section#bottomContainer .assumptions .performanceTopDiv .performanceTopDivLeft {
  width: 70%;
  height: 100%;
  float: left;
  color: #656764;
  padding: 16px 0 0 10px;
}
section#bottomContainer .performance .performanceTopDiv .performanceTopDivRight, section#bottomContainer .assumptions .performanceTopDiv .performanceTopDivRight {
  float: right;
  padding: 16px 10px 0 0;
  color: #656764;
}
section#bottomContainer .performance .performanceTopDiv .performanceTopDivRight i:hover, section#bottomContainer .assumptions .performanceTopDiv .performanceTopDivRight i:hover {
  cursor: pointer;
}
section#bottomContainer .performance .performanceMidDiv, section#bottomContainer .assumptions .performanceMidDiv {
  height: 40%;
  width: 100%;
  background-color: #90EE90;
  padding-top: 30px;
}
section#bottomContainer .performance .performanceMidDiv p#firstPar, section#bottomContainer .assumptions .performanceMidDiv p#firstPar {
  text-align: center;
  font-size: 22px;
  font-family: calibri;
}
section#bottomContainer .performance .performanceMidDiv p#firstPar span, section#bottomContainer .assumptions .performanceMidDiv p#firstPar span {
  margin-left: 40px;
  color: #005e00;
}
section#bottomContainer .performance .performanceMidDiv p#secondPar, section#bottomContainer .assumptions .performanceMidDiv p#secondPar {
  text-align: center;
  font-size: 10px;
  font-family: calibri;
}
section#bottomContainer .performance .performanceMidDiv p#secondPar i, section#bottomContainer .assumptions .performanceMidDiv p#secondPar i {
  font-size: 7px;
}
section#bottomContainer .performance .performanceBottomDiv, section#bottomContainer .assumptions .performanceBottomDiv {
  height: 45%;
  width: 100%;
}
section#bottomContainer .performance .performanceBottomDiv .performanceBottomDivLeft, section#bottomContainer .assumptions .performanceBottomDiv .performanceBottomDivLeft {
  height: 100%;
  width: 70%;
  text-align: center;
  padding-top: 50px;
  float: left;
  line-height: 7px;
  font-family: calibri;
}
section#bottomContainer .performance .performanceBottomDiv .performanceBottomDivLeft a, section#bottomContainer .assumptions .performanceBottomDiv .performanceBottomDivLeft a {
  font-size: 10px;
  color: #005e00;
}
section#bottomContainer .performance .performanceBottomDiv .performanceBottomDivRight, section#bottomContainer .assumptions .performanceBottomDiv .performanceBottomDivRight {
  height: 100%;
  width: 30%;
  float: right;
  text-align: center;
  padding-top: 30px;
}
section#bottomContainer .performance .performanceBottomDiv .performanceBottomDivRight i, section#bottomContainer .assumptions .performanceBottomDiv .performanceBottomDivRight i {
  font-size: 60px;
  color: #005e00;
}
section#bottomContainer .assumptions .assumptionsTopDiv {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #C8C8C8;
}
section#bottomContainer .assumptions .assumptionsTopDiv .assumptionsTopDivLeft {
  width: 70%;
  height: 100%;
  float: left;
  color: #656764;
  padding: 16px 0 0 10px;
}
section#bottomContainer .assumptions .assumptionsTopDiv .assumptionsTopDivRight {
  float: right;
  padding: 16px 10px 0 0;
  color: #656764;
}
section#bottomContainer .assumptions .assumptionsTopDiv .assumptionsTopDivRight i:hover {
  cursor: pointer;
}
section#bottomContainer .assumptions .assumptionsBottomDiv {
  width: 100%;
  height: 260px;
  padding: 60px 100px 0 0;
}
section#bottomContainer .assumptions .assumptionsBottomDiv p {
  font-size: 15px;
  font-weight: bold;
  font-family: calibri;
  text-align: right;
  margin-left: 50px;
}
section#bottomContainer .assumptions .assumptionsBottomDiv p span {
  margin: 0 10px 0 10px;
  border-bottom: 1px solid #C8C8C8;
  color: #005e00;
}
section#bottomContainer .assumptions .assumptionsBottomDiv p i {
  color: #C8C8C8;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
